
.gitignore
lib/

.ccls
.ccls-cache/

test/build

test/my_set_test2.sh

scratch/
old/

core
**/core
**/**/core

a.out
**/a.out
**/**/a.out

.vimspector.json
**/.vimspector.json
**/**/.vimspector.json
